.navigation__container {
  display: flex;
  flex-grow: 1;
  justify-content: right;

}

.navigation__link {
  display: flex;
  height: 80px;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 0 10px;
  margin: 0 24px;
}

.navigation__link.active {
  color: #fff;
  border-bottom: 3px solid #fff
}